@font-face {
  font-family: adaywithoutsun;
  src: url(/fonts/adaywithoutsun.otf);
}
@font-face {
  font-family: upc;
  src: url(/fonts/upcdl.ttf);
}

body {
  background-image: url(http://api.thumbr.it/whitenoise-361x370.png?background=ffffffff&noise=626262&density=25&opacity=15);
}

h1 {
  font-family: adaywithoutsun;
  font-size: 90px;
  color: #99cccc;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

h2 {
  font-family: upc;
  font-size: 30px;
  color: black solid;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}
